/***************/
/* YOUR STYLES */
/***************/

body{
    background: #111a26;
}

.persona1,
.persona2{
    border: 10px solid #1f2f3b;
}

#logo{
    width: 130px;
    background: #111a26;

}

#logo:hover{
    background: #f2f2f2;
    transition: all .8s;
}

/*ABOUT SECTION*/

#about{
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
    height: 300px;
    margin-top: -5px;
    display: block;
    float: left;
    position: inherit;
    padding-top: 120px;

}

#about-h1,
#work-h1,
#contact-h1{
    text-align: center;
}

#about-text,
#work-text,
#contact-text{
    padding-left:100px;
    padding-right: 100px;
}

/*WORK CONTENT*/

#work{
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
 
    margin-top: 370px;
    display: block;
    float: left;
    position: inherit;
    padding-top: 120px;
}

/*CONTACT CONTENT*/

#contact{
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
    height: px;
    margin-top: 380px;
    display: block;
    float: left;
    position: inherit;
    
}
#form{
    padding-left: 370px;
}

#nameForm,
#replyto,
#message{
    display: inline-block;
    float:left;
}


#home{
    background: #111a26;
    height: 100px;
    margin-top: 0;
}

#body-image{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#titleBanner{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin-top: 0;
    height: 40px;
    z-index: 2;
    padding: 0;
    margin-top: 300px;
    text-align: center
}

#titleBanner2{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin-top: 0;
    height: 40px;
    z-index: 2;
    padding: 0;
    margin-top: 350px;
    text-align: center
}

/* Color Palette */

.color-1{
    background-color: #111a26;
}

.color-2{
    background-color: #1f2f3b;
}

.color-3{
    background-color: #f2f2f2;
}

.color-4{
    background-color: #8c7b6c;
}

.color-5{
    background-color: #594539;
}

/* Textures or Patterns*/



/* Imagery */

/* Icons */


#icons{

    width: 100%;
    padding: 10px;
    height: 80px;
    margin-top: -5px;
    display: block;
    float: left;
    position: inherit;
}

#icons-content{
    padding-left: 560px;
}

#fb:hover,
#insta:hover{
    color: #8c7b6c;
    transition: all .8s;
}
/* Navigation */


nav {
    display: block;
    position: fixed;
    width: 100%;
    margin-top: 0;
    text-align: center;
    float: left;
}


.home-link a {
    float: left;
    color: white;
    margin-left: 40px;
    font-family: 'Raleway';

  }


nav ul li {
  
    left: -49px;
    display:block;
    float: right;
    margin-top: -16px;

}

nav ul li a:link,
nav ul li a:visited{
    background: #111a26;
    color: #fffcff;
    display: block;
    width: 300px;
    height: 130px;
    align-content: center;
    text-decoration: none;
    width: 125px;
    padding-top: -100px; 
    padding-bottom: 10px;
    font: 35px;
    letter-spacing: 1px;
    line-height: 8.5em;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    background: #d3d5d7;
    color: #1f2f3b;
    transition: all .8s;
}


/* Typography */

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    color: #111a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

h2{
    color: #1f2f3b;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

h3{
    color: #8c7b6c;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

li{
    list-style: none;
}
